patient_info_files/
federated-project/data/DUKE/images
federated-project/data/DUKE/segmentations/expert
federated-project/data/ISPY1/images
federated-project/data/ISPY1/segmentations/expert
federated-project/data/ISPY2/images
federated-project/data/ISPY2/segmentations/expert
federated-project/data/NACT/images
federated-project/data/NACT/segmentations/expert

.venv/
__pycache__/
*.py[cod]

*.pth

clinical_and_imaging_info.xlsx
preliminary_automatic_segmentations_quality_scores.csv
SYNAPSE_METADATA_MANIFEST.tsv