dados_processados_2d/
images/
segmentations/
nnUNet_pretrained_weights/
patient_info_files/
Testes_manufacture

.venv/
__pycache__/
*.py[cod]

*.pth

clinical_and_imaging_info.xlsx
preliminary_automatic_segmentations_quality_scores.csv
SYNAPSE_METADATA_MANIFEST.tsv